PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.pung0de.mongodb.net/?appName=Cluster0
CORS_ORIGIN=https://fashion-ecommerce-psi-red.vercel.app,http://localhost:5173
JWT_SECRET=your_jwt_secret_key
